.p{
    color:aqua
}


.para1{
    background-color: rgb(152, 68, 198);
}

.blue{
    background-color: blue;
}

.center{
    text-align: center;
}

h1{
    color:red
}

    
li {
border-color:orchid;
}

